{% extends "main.html" %}
{% block content %}

	<h2>
		<a href="{{url_for('showGroups')}}">Home</a> >
		<a href="{{url_for('showGroupBreeds', group_id=group.id)}}">{{group.name}} Group</a> >
		<a href="{{url_for('showBreedInfo', group_id=group.id, breed_id=breed.id)}}">{{breed.name}}</a> >
		Edit Breed
	</h2>

	<form action="#" method="post" enctype="multipart/form-data">

		<div class="row form-element">
			<div class="col-md-2">
				<label for="name">Name:</label>
			</div>
			<div class="col-md-10">
				<input type ="text" maxlength="50" size="60" name="name" value="{{breed.name}}">
			</div>
		</div>

		<div class="row form-element">
			<div class="col-md-2">
				<label for="description">Description:</label>
			</div>
			<div class="col-md-10">
				<textarea maxlength="1000" rows="4" cols="60" name="description">{{breed.description}}</textarea>
			</div>
		</div>

		<div class="row form-element">
			<div class="col-md-2">
				<label for="height">Height:</label>
			</div>
			<div class="col-md-10">
				<input type ="text" maxlength="100" size="60" name="height" value="{{breed.height}}">
			</div>
		</div>

		<div class="row form-element">
			<div class="col-md-2">
				<label for="weight">Weight:</label>
			</div>
			<div class="col-md-10">
				<input type ="text" maxlength="100" size="60" name="weight" value="{{breed.weight}}">
			</div>
		</div>

		<div class="row form-element">
			<div class="col-md-2">
				<label for="picture">Picture:</label>
			</div>
			<div class="col-md-10">
				<input type="file" name="picture" accept="image/*">
			</div>
		</div>

		<div class="form-button center">
			<button type="submit" id="submit" type="submit">Save</button>
			<input type="button" name="cancel" value="Cancel" onClick="window.location.href='{{url_for('showBreedInfo', breed_id = breed.id, group_id = group.id)}}'" />
		</div>
	</form>
{% endblock %}
